.content_img {
    width: 700px;
    height:150px;
}
.description{
    padding: 10px;
}
.table {
    border: 1px solid lightcoral;
}
.table td{
    padding: 5px;
    border: 1px solid lightcoral;
}
.ava{
    width: 300px;
}