.content_img {
  width: 700px;
  height: 150px;
}
.description {
  padding: 10px;
}

.ava {
  width: 300px;
  cursor: pointer;
}
.status {
  text-align: center;
  padding: 10px;
}
.profileData{
  padding: 5px;
}
.profileData .contacts{
  padding-left: 20px;
}
.profileData b{
  color: brown;
}